.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  pointer-events: none;
}

/* контейнер внутри */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 16px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
