.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.txt {
  font-family: "Tagesschrift", system-ui;
  color: #1f2937;
  font-size: 25px;
}

.btn_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3636366b;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #1f2937;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: box-shadow 350ms ease, transform 350ms ease,
    background-color 350ms ease;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transform: scale(1.02);
  background-color: #7575756b;
}
