.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.351);
  transition: opacity 350ms ease;
}

.wrapper.is_close{
	opacity: 0;
	pointer-events: none;
}

.modal_inner {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  min-width: 300px;
  min-height: 100px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: rgb(12, 12, 12);
}

.close svg {
  width: 30px;
  height: 25px;
}
