.box{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-width: 320px;
	margin-top: 20px;
}

.bg{
	width: 80px;
	height: 60px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 10px;
	border: 3px solid #04001f8d;
	opacity: 0.7;
}

.active_bg{
	width: 80px;
	height: 60px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 10px;
	border: 3px solid #00ff228d;
}