.list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 60px 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
