.item {
  max-width: 300px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  background: -webkit-linear-gradient(90deg, #1f2937, #293647, #233043);
  background: linear-gradient(90deg, #1f2937, #293647, #233043);
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.name {
  font-family: "Tagesschrift", system-ui;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #ffffffff;
  font-weight: 600;
}

.add {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3636366b;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: box-shadow 350ms ease, transform 350ms ease,
    background-color 350ms ease;
}

.add:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transform: scale(1.02);
  background-color: #7575756b;
}

.add svg {
  width: 30px;
  height: 25px;
}

.goals{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
}
